h1 {
  font-family: "Gill Sans", Sans-serif; font-size: 5vw;
  font-weight:200;
}
h3 {
  font-family: "Gill Sans", Sans-serif; font-size: 30px;
  font-weight:100;
}
h4{
  font-family: "Gill Sans", Sans-serif; font-size: 25px;
  font-weight:200;
}
a:link{
  color: black;
}
a:visited{
  color: grey;
}
a:hover{
  color: #9fc5e8;
}
a:active{
  color: #3d85c6;
}
<style>
h1{
  text-align: center;
}
h3{
  text-align: center;
}
</style>

body{
  background-color: #ffffe6;
  margin-top: 10vh;
}
